# Python
__pycache__/
*.pyc
churn-env/

# Model files
backend/data/*.pkl
backend/data/*.csv

# React
frontend/node_modules/
frontend/build/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Database
*.db